{% extends "base.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Proyecto no registrado</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="container">
            <h4>El proyecto posee miembros del comite que no pertenecen a ninguna fase. Favor asignarlos a una. <span class="glyphicon glyphicon-ok"></span></h4>

        </div>
            <a class="btn" href="/proyectos/"><li class="icon-arrow-left"></li> Regresar al listado</a>
            <a class="btn" href="/fases/proyecto/{{ dato }}"><li class="icon-eye-open"></li> Ver fases</a>
        {% endblock %}
{% comment %}
        <script type="text/javascript" src="{% static 'registration/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'registration/js/bootstrap.min.js' %}"></script>
{% endcomment %}
    </body>
</html>
