{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Detalles de {{proyecto.nombre|title}}</h1>
    </center>
          	<br>
          	<br>
            <div style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">


            <div><strong>Id: </strong>{{ proyecto.id }}</div>
            <div><strong>Nombre: </strong>{{ proyecto.nombre }}</div>
            <div><strong>Descripción: </strong>{{ proyecto.descripcion }}</div>
            <div><strong>Observaciones: </strong>{{ proyecto.observaciones }}</div>
            <div><strong>Estado: </strong>{{ proyecto.estado }}</div>
            <div><strong>Fecha de Inicio: </strong>{{ proyecto.fecha_ini }}</div>
            <div><strong>Fecha de Finalizacion: </strong>{{ proyecto.fecha_fin}}</div>
            <div><strong>Lider: </strong>{{ lider.first_name}} {{ lider.last_name}}</div>
            <h2><strong>Miembros del comite: </strong></h2>
            {% for integrante in comite %}
                <li><b>Nombre: </b>{{ integrante.first_name}} {{ integrante.last_name}}</li>
            {% endfor %}
            <center>
            <form action="/proyectos">
            <input type="submit" value="Regresar al listado">
            </form>
            </center>
</div>
{% endblock %}
</html>
