{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Equipo de {{proyecto.nombre|title}}</h1>
    </center>
          	<br>
          	<br>
            <div style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">

            <div><label><b>Lider: </b></label>{{ lider.first_name}} {{ lider.last_name}}</div>
            <div><label><b>Miembros del comite: </b></label></div>
            {% for integrante in comite %}
                <li><b>Nombre: </b>{{ integrante.first_name}} {{ integrante.last_name}}</li>
            {% endfor %}
             <div><label><b>Equipo: </b></label></div>
            {% for usuario in usuarios %}
                <li><b>Nombre: </b>{{ usuario}}</li>
            {% endfor %}
            <center>
            <form action="/proyectos">
            <input type="submit" value="Regresar al listado">
            </form>
            </center>
</div>
{% endblock %}
</html>
