{% extends "base.html" %}
{% load i18n %}

{% block contenido %}
    {% comment %}
<script type="text/javascript" src="/static/js/django-admin.multiselect.js">


			$(document).ready(function() {



          jQuery.each($("select[multiple]"), function () {
            SelectFilter.init(this.id, "Locations", 0, "/media/");
            });
            }
                </script>
{% endcomment %}
<form id="formulario" method="post" action="">{% csrf_token %} {{ group_form }}
<p><input type="submit" value="Crear Rol"></p>
</form>
{% endblock %}