{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Modificar usuario {{usuario.username|title}}</h1>
    </center>
<form action="" method="post">{% csrf_token %}
    {{ user_form }}

    <input type="submit" value="Guardar cambios">
</form>
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/cambiarPass"><li class="icon-plus"></li> Cambiar Password</a>

            </ul>
       </div>
    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="javascript:window.history.back();" ><li class="icon-arrow-left"></li> Regresar</a>

            </ul>
       </div>
{% endblock %}