{% extends 'base.html' %}




{% block contenido %}
	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">

			$(document).ready(function() {


				$('.ask-plain').click(function(e) {

					e.preventDefault();
					thisHref	= $(this).attr('action');

					if(confirm('Seguro que desea cambiar el estado?')) {
						window.location = thisHref;
					}

				});

			});

		</script>
</head>


    <center><h1>Administracion de Usuarios</h1></center>

 <br>
    <center>
	<table class='table table-hover',width="80%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}
	            <th style="text-align:center">Usuario</th>
	            <th style="text-align:center">Nombre</th>
	            <th style="text-align:center">Apellido</th>
	            <th style="text-align:center">Estado</th>
	            <th colspan="2" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.username }}</td>
				<td>{{ dato.first_name }}</td>
				<td>{{ dato.last_name }}</td>
				{% ifequal dato.is_active  True %}
                    <td> Activo </td>
                {% endifequal %}
                {% ifequal dato.is_active False %}
                    <td> Inactivo </td>
                {% endifequal %}
                <td>
                    <a class="btn" href="/usuarios/{{ dato.pk }}"><li class="icon-eye-open"></li> Ver Detalle</a>
                    {% comment %}<form action='{% url 'usuarios.viewsUsuarios.detalle_usuario' dato.pk %}'>
                        <input type="submit" value="Ver Detalle">
                        </form>{% endcomment %}
                </td>
                <td>
                    <form class="ask-plain" action='{% url 'usuarios.viewsUsuarios.modificar_usuario' dato.pk %}'  >
                        <input class="btn" type="submit" value="Cambiar Estado" ><li class="icon-pencil"></li>
                    </form>
                </td>
			</tr>
            {% empty %}
                <li>Aún no hay usuarios registrados</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/register"><li class="icon-plus"></li> Agregar un Usuario</a>
                <a class="btn" href="/principal"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}
 {% block busqueda %}

        <body>
  <h1>Buscar Usuarios</h1>
  <form action='{% url 'usuarios.viewsUsuarios.buscarUsuario' %}'>
    <label for="q">Nombre: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <li class="icon-search"></li><input type="submit" value="Buscar">
  </form>


</body>
    {% endblock %}
