{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Detalles de usuario {{usuario.username|title}}</h1>
    </center>
          	<br>
          	<br>
            <div style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">

            <div><label><b>Nombres: </b></label>{{ usuario.first_name }}</div>
            <div><label><b>Apellidos: </b></label>{{ usuario.last_name }}</div>
            <div><label><b>Nombre de Usuario: </b></label>{{ usuario.username }}</div>
             {% ifequal usuario.is_active  True %}
                    <div><label><b>Estado: </b></label> Activo </div>
             {% endifequal %}
             {% ifequal usuario.is_active  False %}
                 <div><label><b>Estado: </b></label> Inactivo </div>
            {% endifequal %}

            <div><label><b>Fecha de creacion: </b></label>{{ usuario.date_joined }}  </div>
            <div><label><b>Ultimo acceso: </b></label>{{ usuario.last_login}}  </div>
            <center>
            <form action="/usuarios">
            <input type="submit" value="Regresar al listado">
            </form>
            </center>
{% endblock %}
</html>