{% extends 'base.html' %}

{% if user.is_authenticated %}


{% block titulo %} <center><h1>ADMINISTRACION DE USUARIOS</h1></center> {% endblock %}

{% block contenido %}


 <br>
    <center>
	<table width="80%" border="2">
	<tr>
	{% comment %}<th scope="col"> </th> {% endcomment %}
	<th scope="col">Usuario</th>
	<th scope="col">Nombre</th>
	<th scope="col">Apellido</th>
	<th scope="col">Activo</th>
	<th colspan="2" scope="col">Opciones</th>

    </tr>

	 {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.username }}</td>
				<td>{{ dato.first_name }}</td>
				<td>{{ dato.last_name }}</td>
				<td>{{ dato.is_active }}</td>
<td> <form action='{% url 'principal.views.detalle_usuario' dato.pk %}'>
   <input type="submit" value="Ver Detalle"> 
</form>
</td>
<td>
 <form action='{% url 'principal.views.modificar_usuario' dato.pk %}'>
   <input type="submit" value="Modificar"> 
</form>
</td>
			</tr>
  	{% empty %}
	<li>Aún no hay usuarios registrados</li>
	{% endfor %}

	</table>
    </center>

</form>

<form action="/register">
    <input type="submit" value="Agregar un Usuario">
</form>


	<br>

{% endblock %}
{% endif%}
