{% extends 'base.html' %}
{% block busqueda %} {% endblock %}
{% block contenido %}

    <style>
        .menu {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }</style>

<body>

	{% csrf_token %}

<center>

        {%  if perms.auth.user %}
	    <h2><a href="">Modulo de  Administracion</a></h2>

             <ul> <a href='/usuarios'>Usuarios</a></ul>
    {% endif %}
        {% if perms.auth.groups %}
             <ul> <a href='/roles'>Roles</a></ul>
        {% endif %}
          {% if perms.proyecto %}
		     <ul> <a href='/proyectos'>Proyectos</a></ul>

{% endif %}
        {% if not user.is_superuser %}
	    <h2><a href="#">  Modulo de  Desarrollo</a></h2>

		    	<ul> <a href='/desarrollo/proyectos/'>Abrir Proyecto</a></ul>


	    <h2><a href="#">Modulo de Gestion de Cambios</a></h2>

			<ul> <a href='/gestionDeCambios/lineasBase/proyectos/'>Lineas Base</a></ul>
		    <ul> <a href='/gestionDeCambios/solicitudes/listar/'>Solicitudes de Cambios</a></ul>



    {% endif %}
</center>
</body>
{% endblock %}
