{% extends 'base.html' %}

{% block contenido %}
	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">

			$(document).ready(function() {


				$('.ask-plain').click(function(e) {

					e.preventDefault();
					thisHref	= $(this).attr('action');

					if(confirm('Seguro que desea eliminar el Tipo de Item?')) {
						window.location = thisHref;
					}

				});

			});

		</script>
</head>


    <center><h1>Administracion de Tipos de Item de la fase {{ fase.nombre }}</h1></center>

 <br>
    <center>
	<table class='table table-hover' width="70%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}
	            <th style="text-align:center">Id</th>
	            <th style="text-align:center">Nombre</th>
	            <th colspan="3" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.id }}</td>
				<td>{{ dato.nombre }}</td>

		                <td><center><a class="btn"  href="/tiposDeItem/{{ dato.pk }}"><li class="icon-eye-open"></li> Ver Detalle</a></center> </td>
                        <td><center><a class="btn" href="/tiposDeItem/modificar/{{ dato.pk }}"><li class="icon-pencil"></li> Modificar</a></center></td>
                        <td><center> <form class="btn ask-plain" action='{% url 'tiposDeItem.viewsTiposDeItem.eliminar_tipoItem' dato.pk %}'>
                        <input type="submit" value="Eliminar">
                        </form></center> </td>
			</tr>
            {% empty %}
                <li>Aún no hay Tipos de Item registrados</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/tiposDeItem/registrar/{{fase.id}}"><li class="icon-plus"></li> Agregar un Tipo de Item</a>
                <a class="btn" href="/tiposDeItem/listar/{{fase.id}}"><li class="icon-share"></li> Importar un Tipo de Item</a>

                <a class="btn" href="/fases/proyecto/{{ fase.proyecto_id }}"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

