{% extends "base.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Fase no finalizada</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="container">
            <h4>Fase NO Finalizada: La fase anterior aun no se ha finalizado o la fase posee items que no se encuentran en una linea base.Imposible finalizar. <span class="glyphicon glyphicon-ok"></span></h4>

        </div>
            <button> <a href= '/gestionDeCambios/lineasBase/proyectos/fases/{{fase.proyecto_id}}' > Regresar al listado </a> </button>
        {% endblock %}
{% comment %}
        <script type="text/javascript" src="{% static 'registration/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'registration/js/bootstrap.min.js' %}"></script>
{% endcomment %}
    </body>
</html>
