{% extends 'base.html' %}

{% block contenido %}


    <center><h1>Fases del proyecto {{ proyecto.nombre }}</h1></center>

 <br>

    <br>
    <center>
	<table class='table table-hover' width="80%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}

	            <th style="text-align:center">Orden</th>
	            <th style="text-align:center">Nombre</th>
	            <th style="text-align:center">Estado</th>
	            <th colspan="1" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}

				<td>{{ dato.orden }}</td>
				<td>{{ dato.nombre }}</td>
				<td>{{ dato.estado }}</td>
		                <td>
                              <center>
                        <a class="btn" href="/gestionDeCambios/lineasBase/listar/{{ dato.pk }}"><li class="icon-list"></li> Lineas Base</a>
               </center>
                </td>
			</tr>
            {% empty %}
                <li>No tiene fases asignadas en este proyecto</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">


                <a class="btn" href="/gestionDecambios/lineasBase/proyectos"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

