{% extends 'base.html' %}

{% block contenido %}
    <head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">

			$(document).ready(function() {


				$('.ask-plain').click(function(e) {

					e.preventDefault();
					thisHref	= $(this).attr('action');

					if(confirm('Seguro que desea finalizar la fase? Al finalizarla ya no se podran realizar cambios en ninguno de sus items')) {
						window.location = thisHref;
					}

				});

			});

		</script>
</head>

    <center><h1>Fases del proyecto {{ proyecto.nombre }}</h1></center>

 <br>

    <br>
    <center>
	<table class='table table-hover' width="80%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}

	            <th style="text-align:center">Orden</th>
	            <th style="text-align:center">Nombre</th>
	            <th style="text-align:center">Estado</th>
	            <th colspan="2" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}

				<td>{{ dato.orden }}</td>
				<td>{{ dato.nombre }}</td>
				<td>{{ dato.estado }}</td>
		                <td>
                              <center>
                        <a class="btn" href="/gestionDeCambios/lineasBase/listar/{{ dato.pk }}"><li class="icon-list"></li> Lineas Base</a>
                                   <td>  <form class="ask-plain" action='{% url 'lineasBase.viewsLineasBase.finalizar_fase' dato.pk %}'  >

                           <input class="btn" type="submit" value="Finalizar"><li class="icon-lock"></li>

                    </form></td>
               </center>
                </td>
			</tr>
            {% empty %}
                <li>No tiene fases asignadas en este proyecto</li>
	    {% endfor %}

	</table>
    </center>

</form>
    <h2>Relaciones</h2>
<center><img src="/static/img/{{ name }}" width = 80% >
                            <img src="/static/referencias2.jpg" width = 20%></center>
       <div class="well sidebar-nav">
            <ul class="nav nav-list">

                <center><a class="btn"  href="/gestionDeCambios/lineasBase/proyecto/finalizar/{{ proyecto.id }}"><li class="icon-folder-close"></li> Finalizar Proyecto</a></center>
                <a class="btn" href='/gestionDeCambios/lineasBase/proyectos/'><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

