{% extends "base.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Item registrado correctamente</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="container">
            <h4>Item registrado Correctamente. La relacion anterior era inconsistente, por lo que se ha conservado la relacion actual. <span class="glyphicon glyphicon-ok"></span></h4>

        </div>
            <button> <a href= '/desarrollo/item/listar/{{id_tipo_item}}' > Regresar al listado </a> </button>
        {% endblock %}
{% comment %}
        <script type="text/javascript" src="{% static 'registration/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'registration/js/bootstrap.min.js' %}"></script>
{% endcomment %}
    </body>
</html>
