{% extends 'base.html' %}
{% block contenido %}
	<form  method='post' action='' enctype="multipart/form-data">{% csrf_token %}{{formulario.as_p}}
        <br>
{% if items.is_defined %}
Antecesor:
<select name="entradalista">
    {% for item in items %}
    <option>{{ item.nombre}}</option>
    {% endfor %}

</select>
{% endif %}
Atributos
	            	<div style="height:150px;width:430px;overflow:auto;">
	            	<table width="50%" border="1">
					<tr>
					<th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
					<th scope="col">Valor</th>
					</tr>
					{% for atributo in atributos %}
							<tr>
								<td>{{ atributo.nombre }}</td>
                                <td>{{ atributo.tipo }}</td>
								<td><input type='text' name={{ atributo.nombre }} value="{{ atributo.valorDefecto }}"/></td>

							</tr>

					{% endfor %}
					</table>
				    <br>
            </div>
    <br>
        <input type="file" name="file" id="id_file" />
	<br>
        <p><input type='submit' value='Confirmar'/></p>
	</form>
{% endblock %}
