{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Modificar Item {{item.nombre|title}}</h1>
    </center>
<form action="" method="post">{% csrf_token %}
    {{ formulario }}

    <input type="submit" value="Guardar cambios">
</form>
    <br>
    <br>
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/desarrollo/item/listar/{{ titem }}"><li class="icon-backward"></li> Regresar</a>


                <a class="btn" href="/desarrollo/item/archivos/{{ item.id }}"><li class="icon-file"></li> Administrar Archivos</a>

                <a class="btn" href="/desarrollo/item/padre/{{ item.id }}"><li class="icon-arrow-up"></li> Cambiar Padre</a>
                <a class="btn" href="/desarrollo/item/antecesor/{{ item.id }}"><li class="icon-arrow-left"></li> Cambiar Antecesor</a>
                <a class="btn" href="/desarrollo/item/atributos/{{ item.id }}"><li class="icon-wrench"></li> Cambiar atributos</a>
                <a class="btn" href="/desarrollo/item/versiones/{{ item.id }}"><li class="icon-bookmark"></li> Volver a version anterior</a>

            </ul>
       </div>
{% endblock %}