{% extends 'base.html' %}

{% block contenido %}

    <center><h1>Administracion de Items </h1></center>

 <br>
    <center>
	<table class='table table-hover' width="70%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}
	            <th style="...">Nombre</th>
	            <th style="...">Costo</th>
                <th style="text-align:center">Tiempo</th>
                <th style="text-align:center">Version</th>
                <th style="text-align:center">Estado</th>
	            <th colspan="3" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.nombre }}</td>
                <td>{{ dato.costo }}</td>
                <td>{{ dato.tiempo }}</td>
                <td>{{ dato.version }}</td>
                <td>{{ dato.estado }}</td>
		                <td><center><a class="btn"  href="/desarrollo/item/crear/{{ titem }}"><li class="icon-eye-open"></li> Ver Detalle</a></center> </td>
                        <td><center><a class="btn" href="/tiposDeItem/modificar/{{ dato.pk }}"><li class="icon-pencil"></li> Modificar</a></center></td>
                        <td><center> <form class="btn ask-plain" action='{% url 'tiposDeItem.viewsTiposDeItem.eliminar_tipoItem' dato.pk %}'>
                        <input type="submit" value="Eliminar">
                        </form></center> </td>
			</tr>
            {% empty %}
                <li>Aún no hay Items registrados</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <td><center><a class="btn"  href="/desarrollo/item/crear/{{ titem.id }}"><li class="icon-eye-open"></li> Crear Item</a></center> </td>


                <a class="btn" href="/desarrollo/fases/tiposDeItem/{{ titem.fase_id }}"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

