{% extends 'base.html' %}

{% block contenido %}



    <center><h1>Administracion de Tipos de Item de la fase {{ fase.nombre }}</h1></center>

 <br>
    <center>
	<table class='table table-hover' width="80%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}
	            <th style="text-align:center">Id</th>
	            <th style="text-align:center">Nombre</th>
	            <th colspan="1" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.id }}</td>
				<td>{{ dato.nombre }}</td>

		                <td>
                            <center>
                	    <a class="btn"  href="/tiposDeItem/{{ dato.pk }}"><li class="icon-list"></li> Items</a>
                    {% comment %}<form action='{% url 'fases.viewsFases.detalle_fase' dato.pk %}'>
                        <input type="submit" value="Ver Detalle">
                        </form>{% endcomment %}

        </center>
                </td>
			</tr>
            {% empty %}
                <li>Aún no hay Tipos de Item registrados</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/tiposDeItem/registrar/{{fase.id}}"><li class="icon-plus"></li> Agregar un Tipo de Item</a>
                <a class="btn" href="/fases/sistema/{{proyecto.id}}"><li class="icon-share"></li> Importar un Tipo de Item</a>

                <a class="btn" href="/fases/proyecto/{{ fase.proyecto_id }}"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

