{% extends 'base.html' %}
{% block contenido %}
	<h1>Detalle de la solicitud {{ solicitud.nombre }}</h1>
        <br>
        <div><strong>Motivo: </strong>{{ solicitud.descripcion }}</div>
        <div><strong>Solicitante: </strong>{{ solicitud.usuario.first_name }} {{ solicitud.usuario.last_name }}</div>
        <div><strong>Proyecto: </strong>{{ solicitud.proyecto.nombre }}</div>
        <div><strong>Fase: </strong>{{ solicitud.item.tipo_item.fase.nombre }}</div>
        <div><strong>Item: </strong>{{ solicitud.item.nombre }}</div>
        <div style="color: red"><strong>Costo total de la modificacion: </strong>{{ solicitud.costo }}</div>
        <div style="color: red"><strong>Tiempo total de la modificacion: </strong>{{ solicitud.tiempo }}</div>
        <div><strong>Votos a favor: </strong>{{ favor }}</div>
        <div><strong>Votos en contra: </strong>{{ contra }}</div>
        <div><strong>Miembros que ya votaron: </strong></div>
        {% for miembro in usuarios %}
        <div><li>Nombre: </li>{{ miembro.first_name }} {{ miembro.last_name }}</div>

        {% empty %}
        <div><strong>Ningun miembro ha emitido su voto </strong></div>

	{% endfor %}
    <a class="btn" href="/gestionDeCambios/solicitudes/listar/"><li class="icon-backward"></li> Regresar</a>
{% endblock %}
