{% extends 'base.html' %}
<html>
{% block contenido %}
<br>
    <center>
    <h1>Detalles de {{datos.nombre|title}}</h1>
    </center>
          	<br>
          	<br>
            <div style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">


            <div><strong>Id: </strong>{{ datos.id }}</div>
            <div><strong>Orden: </strong>{{ datos.orden }}</div>
            <div><strong>Nombre: </strong>{{ datos.nombre }}</div>
            <div><strong>Descripción: </strong>{{ datos.descripcion }}</div>
            <div><strong>Cantidad Máxima de Items: </strong>{{ datos.maxItems }}</div>
            <div><strong>Estado: </strong>{{ datos.estado }}</div>
            <div><strong>Fecha de Inicio: </strong>{{ datos.fInicio }}</div>
            <div><strong>Fecha de Creación: </strong>{{ datos.fCreacion }}</div>
            <div><strong>Fecha de Modificación: </strong>{{ datos.fmodificacion }}</div>
            <center>
            <form action="/fases">
            <input type="submit" value="Regresar al listado">
            </form>
            </center>
</div>
{% endblock %}
</html>
