{% extends 'base.html' %}

{% block contenido %}
	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>

		<script type="text/javascript">

			$(document).ready(function() {


				$('.ask-plain').click(function(e) {

					e.preventDefault();
					thisHref	= $(this).attr('action');

					if(confirm('Seguro que desea cambiar el estado?')) {
						window.location = thisHref;
					}

				});

			});

		</script>
</head>


    <center><h1>Administracion de Fases del proyecto {{ proyecto.nombre }}</h1></center>

 <br>
    <center>
	<table class='table table-hover' width="80%" border="2">
        <theader>
	        <tr>
	            {% comment %}<th scope="col"> </th> {% endcomment %}
	            <th style="text-align:center">Id</th>
	            <th style="text-align:center">Orden</th>
	            <th style="text-align:center">Nombre</th>
	            <th style="text-align:center">Estado</th>
	            <th colspan="3" style="text-align:center">Opciones</th>
            </tr>
        </theader>

	    {% for dato in datos %}
			<tr border="2">
				{% comment %}<td><input name="select" type="hidden" value="{{ dato.pk }}" /></td> {% endcomment %}
				<td>{{ dato.id }}</td>
				<td>{{ dato.orden }}</td>
				<td>{{ dato.nombre }}</td>
				<td>{{ dato.estado }}</td>
		                <td>
                	    <a class="btn" href="/fases/{{ dato.pk }}"><li class="icon-eye-open"></li> Ver Detalle</a>
                    {% comment %}<form action='{% url 'fases.viewsFases.detalle_fase' dato.pk %}'>
                        <input type="submit" value="Ver Detalle">
                        </form>{% endcomment %}
                </td>
                <td>

	    <a class="btn" href="/fases/modificar/{{ dato.pk }}"><li class="icon-pencil"></li> Modificar</a>
        <a class="btn" href="/fases/asignar/{{dato.id}}"><li class="icon-user"></li> Asignar Usuario</a>
        <a class="btn" href="/fases/des/{{dato.id}}"><li class="icon-user"></li> Desasignar Usuario</a>
                </td>
			</tr>
            {% empty %}
                <li>Aún no hay fases registradas</li>
	    {% endfor %}

	</table>
    </center>

</form>

       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/fases/registrar/{{proyecto.id}}"><li class="icon-plus"></li> Agregar una fase</a>
                <a class="btn" href="/fases/sistema/{{proyecto.id}}"><li class="icon-share"></li> Importar una fase</a>

                <a class="btn" href="/proyectos"><li class="icon-arrow-left"></li> Regresar</a>
            </ul>
       </div>

	<br>

{% endblock %}

